
<style>
clear{clear:both;}
.voilet{height:90px;width:auto;}
.navbar-form{height:90px;width:100%;}
    .voilet_node_active{width:200px;}
</style>
<pre>请选择需要执行命令的主机</pre>
<div class="alert alert-dismissable alert-info">
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4>
        使用方法:
    </h4> <strong>例：</strong>输入主机名和需要执行的命令，如果主机名为空，默认为所有主机执行命令<br>
        如需同时执行多个命令，可使用pwd;ls;ifconfig即可，命令和命令中间用";"号区分
</div>
<div class="voilet">
    <form method="POST" id="reasonform"  class="navbar-form navbar-left" role="search" onsubmit="return false" >{% csrf_token %}
        <div><ul class="list-unstyled list-inline">{% for i in service_name %}
            <li><input id="id_business_0" type="checkbox" value="{{ i }}" name="business">{{ i }}<li>
        {% endfor %}
        </ul></div><div class="clear"></div>
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#">state.running</a></li>
                  <li><a href="#">state.show_highstate</a></li>
                  <li class="divider"></li>
                  <li><a href="#">garins</a></li>
                  <li><a href="#">ping</a></li>
                  <li class="divider"></li>
                  <li><a href="#">test.ping</a></li>
                  <li><a href="#">version</a></li>
                  <li><a href="#">echo</a></li>
                </ul>
              </div><!-- /btn-group -->

              <input type="text" class="form-control" name="salt_node_name" id = "salt_node_name" placeholder="输入主机名"  maxlength="100" size="100" />
              <span class="input-group-addon ">命令类型
                  <select id="id_brand"  name="comm_shell">
                    <option value="cmd" selected="selected">cmd.run</option>
                    <option value="grains">grains.item</option>
                    <option value="ping">test.ping</option>
                   </select>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-6">
            <div class="input-group">
             <span class="input-group-btn">
                <button class="btn btn-default disabled" type="button">命令</button>
              </span>
             <input type="text" class="form-control" name="salt_cmd" id="salt_cmd" maxlength="100" size="100"/>
              <span class="input-group-btn">
                <button class="btn btn-success" id="button" type="button">执行</button>
              </span>
{#                <button type="submit" id="button" class="btn btn-default" id="but_salt_state_sls">安装</button>#}
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </form>

</div>

<div id="salt_cmd_run"></div>
{#<div class="form-group">#}
{#    <textarea  id="salt_cmd_run" class="textarea-field admintextareawidget form-control" rows="10" name="content" cols="40"></textarea>#}
{#    </div>#}
{% include "default/jquery.html" %}

