
{#onsubmit="return false"#}

<div class="voilet" style="height:50px;">

    <form method="POST" id="reasonform"  class="navbar-form navbar-left" role="search" onsubmit="return false" >{% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="salt_cmd" id="salt_cmd" maxlength="100" size="100"/>
        </div>
        <span class="cmd_voilet" style="width:30px;font-size:16px;font-weight:bold;color:red;margin-left:20px;margin-right:20px;">cmd.run</span>
        <button type="submit" id="button" class="btn btn-default">执行</button>
    </form>
</div>
<div id="salt_cmd_run"></div>
{#<div class="form-group">#}
{#    <textarea  id="salt_cmd_run" class="textarea-field admintextareawidget form-control" rows="10" name="content" cols="40"></textarea>#}
{#    </div>#}
{% include "default/jquery.html" %}

