</div>
	<!-- voilet stop -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/xadmin/js/xadmin.main.js"></script>
    <script type="text/javascript" src="/static/xadmin/vendor/select2/select2.js"></script>
    <script type="text/javascript" src="/static/xadmin/js/xadmin.widget.select.js"></script>
    <script type="text/javascript" src="/static/xadmin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/static/xadmin/js/xadmin.widget.datetime.js"></script>
    <script type="text/javascript" src="/static/xadmin/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script type="text/javascript" src="/static/xadmin/js/xadmin.page.form.js"></script>

  </body>
</html>


