<div class="col-md-2 column">
    <div class="panel-group" id="panel-349889"><!--  panel panel-primary -->
        <div class="panel panel-default">
            <div class="panel-heading">
                 <h3 class="panel-title"><a class="panel-title" data-toggle="collapse" data-parent="#panel-349889" href="#panel-element-290449">主机列表</a></h3>
            </div>
            <div id="panel-element-290449" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p><a href="/salt/1" >主机状态</a></p>
                    <a href="/salt/2" >获取salt主机列表</a></br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                 <a class="panel-title" data-toggle="collapse" data-parent="#panel-349889" href="#panel-element-50498">salt命令执行</a>
            </div>
            <div id="panel-element-50498" class="panel-collapse collapse">
                <div class="panel-body">
                    <p><a href="#" style="cursor:hand" id="btn_cmd">cmd</a></p>
                    <p><a href="/salt/3" >grains</a></p>
                </div>
            </div>
        </div>
    </div>
</div>




