{% include 'default/header.html' %}
{% include 'default/server_idc_left.html' %}
{% load pagination_tags %}
{% autopaginate list 10 %}
<div id="content-block" class="col-sm-11 col-md-10">
<table class="table table-bordered">
    <pre>安装系统失败服务器列表</pre>
	<thead>
		<tr>
			<th>
				主机名
			</th>
			<th>
				机房
			</th>
			<th>
				eth1
			</th>
			<th>
				内存
			</th>
            <th>
				核数
			</th>
            <th>
				硬盘
			</th>
            <th>
				服务器型号
			</th>
			<th>
				系统
			</th>
			<th>
				业务
			</th>
			<th>
				资产编号
			</th>
            <th>
				状态
			</th>

		</tr>
	</thead>
    {% for i in list %}
{#        {% if i.auto_install == 0 %}#}
	<tbody>
		<tr >
			<td width="200">
				<a href="/assets/server/node_id/{{ i.id }}/" >{{ i.node_name }}</a>
			</td>
			<td width="125">
				{{ i.idc }}
			</td>
			<td width="150">
				{{ i.eth1 }}
			</td>
			<td width="80">
				{% widthratio i.memory 1024 1 %}G
			</td>
            <td width="100">
				{{ i.core_num }} Cores
			</td>
            <td width="100">
                {% if i.hard_disk %}
				{{ i.hard_disk }} G
                    {% else %}
                    无数据
                {% endif %}
			</td>
            <td width="100">
				{{ i.brand }}
			</td>
			<td width="160">
				{{ i.system }} - {{ i.system_cpuarch }}
			</td>
			<td width="100">
                {% for test in i.business.all %}
                    <a href="/assets/server/server_type/{{ test.id }}/ ">{{ test.service_name }}</a>
                {% endfor %}
			</td>
			<td>
				{{ i.number }}
			</td>
            <td width="50">
				<button class="btn btn-danger btn-xs" data-toggle="modal">系统安装失败</button>
			</td>
		</tr>
	</tbody>
{#        {% endif %}#}
    {% endfor %}
    </table>
    <div  class="voilet_page">
         {% paginate %}
    </div>
</div>

{#{{ uf }}#}
{% include 'default/footer.html' %}





