{% include 'default/header.html' %}
{% include 'default/server_idc_left.html' %}
<div id="content-block" class="col-sm-11 col-md-10">
<table class="table table-bordered">
    <pre>服务器列表</pre>
	<thead>
		<tr>
			<th>
				主机名
			</th>
			<th>
				机房
			</th>
			<th>
				eth1
			</th>
			<th>
				内存
			</th>
            <th>
				核数
			</th>
            <th>
				硬盘
			</th>
            <th>
				服务器型号
			</th>
			<th>
				系统
			</th>
			<th>
				业务
			</th>

		</tr>
	</thead>
	<tbody>
		<tr >
			<td width="200">
				{{ list.node_name }}
			</td>
			<td width="125">
				{{ list.idc }}
			</td>
			<td width="150">
				{{ list.eth1 }}
			</td>
			<td width="80">
				{% widthratio list.memory 1024 1 %}G
			</td>
            <td width="100">
				{{ list.core_num }} Cores
			</td>
            <td width="100">
                {% if list.hard_disk %}
				{{ list.hard_disk }} G
                    {% else %}
                    无数据
                {% endif %}
			</td>
            <td width="100">
				{{ list.brand }}
			</td>
			<td width="160">
				{{ list.system }} - {{ list.system_arch }}
			</td>
			<td width="100">
                {% for test in list.business.all %}
                    <a href="/assets/server_type/{{ test.id }}/ ">{{ test.service_name }}</a>
                {% endfor %}
			</td>
		</tr>
	</tbody>
    </table>
<pre>{{ list.number }}
上次修改人:<button  class="btn btn-xs btn-primary" data-toggle="modal">{{ list.old_editname }}</button>

上次修时间:<button  class="btn btn-xs btn-primary" data-toggle="modal">{{ list.old_editdatetime }}</button>

本次修改人:<button  class="btn btn-xs btn-success" data-toggle="modal">{{ list.edit_username }}</button>

本次修时间:<button  class="btn btn-xs btn-success" data-toggle="modal">{{ list.edit_datetime }}</button>
<h3>创建日期:{{ list.create_time}}</h3>
</pre>
</div>

{#{{ uf }}#}
{% include 'default/footer.html' %}





