{% include 'default/header.html' %}
{% include 'default/server_idc_left.html' %}
<div id="content-block" class="col-sm-11 col-md-10">
<table class="table table-bordered">
    <pre>服务器列表</pre>
	<thead>
		<tr>
			<th>
				主机名
			</th>
			<th>
				机房
			</th>
			<th>
				eth1
			</th>
			<th>
				内存
			</th>
            <th>
				CPU型号
			</th>
            <th>
				核数
			</th>
            <th>
				硬盘
			</th>
            <th>
				服务器型号
			</th>
			<th>
				系统
			</th>
			<th>
				业务
			</th>
			<th>
				资产编号
			</th>
            <th>
				修改
			</th>

		</tr>
	</thead>
    {% for i in list %}
	<tbody>
		<tr >
			<td width="160">
				{{ i.node_name }}
			</td>
			<td width="125">
				{{ i.idc }}
			</td>
			<td width="150">
				{{ i.ip }}
			</td>
			<td width="80">
				{{ i.memory }} G
			</td>
            <td width="100">
				{{ i.cpu }}
			</td>
            <td width="100">
				{{ i.core_num }} Cores
			</td>
            <td width="100">
				{{ i.hard_disk }} G
			</td>
            <td width="100">
				{{ i.brand }}
			</td>
			<td width="160">
				{{ i.system }} - {{ i.system_arch }}
			</td>
			<td width="100">
                {% for test in i.business.all %}
                    {{ test.check }}
                {% endfor %}
			</td>
			<td>
				{{ i.number }}
			</td>
            <td width="50">
				<a href="/assets/edit_id/{{ i.id }}/">修改</a>
			</td>
		</tr>
	</tbody>
    {% endfor %}
    </table>
</div>
{#{{ uf }}#}
{% include 'default/footer.html' %}





