{% include 'default/header.html' %}
{% include 'default/server_idc_left.html' %}
{% load pagination_tags %}
{% autopaginate list 20 %}
<div id="content-block" class="col-sm-11 col-md-10">
<pre>{{ business_name }}业务列表</pre>
{% if test_error %}
<table class="table table-bordered">
	<thead>
		<tr>
			<th>
				主机名
			</th>
			<th>
				机房
			</th>
			<th>
				eth1
			</th>
			<th>
				内存
			</th>
            <th>
				核数
			</th>
            <th>
				硬盘
			</th>
            <th>
				服务器型号
			</th>
			<th>
				系统
			</th>
			<th>
				业务
			</th>
			<th>
				资产编号
			</th>
            <th>
				修改
			</th>
            <th>
				更新
			</th>

		</tr>
	</thead>
        {% for i in list %}
            {% if i.auto_install == 1 %}
        <tbody>
            <tr >
                <td width="160">
                    {{ i.node_name }}
                </td>
                <td width="125">
                    {{ i.idc }}
                </td>
                <td width="150">
                    {{ i.eth1 }}
                </td>
                <td width="80">
                    {{ i.memory }} M
                </td>
                <td width="100">
                    {{ i.core_num }} Cores
                </td>
                <td width="100">
                    {{ i.hard_disk }} G
                </td>
                <td width="100">
                    {{ i.brand }}
                </td>
                <td width="160">
                    {{ i.system }} - {{ i.system_cpuarch }}
                </td>
                <td width="100">
                    {% for test in i.business.all %}
                        {{ test.service_name }}
                    {% endfor %}
                </td>
                <td>
                    {{ i.number }}
                </td>
                <td width="50">
				<a href="/assets/edit_id/{{ i.id }}/" class="btn btn-xs btn-primary" data-toggle="modal">修改</a>
			</td>
            <td width="50">
				<a href="/assets/update_id/{{ i.id }}/" class="btn btn-success btn-xs" data-toggle="modal">更新</a>
{#				<button class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal{{ i.id }}">更新</button>#}
			</td>
            </tr>
        </tbody>
            {% endif %}
        {% endfor %}
    </table>
    <pre>以下用户拥有此业务权限</pre>
    <ul class="list-unstyled list-inline">
        {% for i in server_user_all %}
            {% if i.first_name %}
				<a href="/accounts/user/{{ i.id }}"><button type="button" class="btn btn-default"><li>{{ i.first_name }}</li></button></a>
                {% else %}
                <a href="/accounts/user/{{ i.id }}"><button type="button" class="btn btn-default"><li>{{ i.username }}</li></button></a>
            {% endif %}
        {% endfor %}
	</ul>
    <div  class="voilet_page">
     {% paginate %}
    </div>
    {% else %}
        <p>暂无数据!</p>
    <pre>以下用户拥有此业务权限</pre>
    <ul class="list-unstyled list-inline">
        {% for i in server_user_all %}
            {% if i.first_name %}
				<a href="/accounts/user/{{ i.id }}"><button type="button" class="btn btn-default"><li>{{ i.first_name }}</li></button></a>
                {% else %}
                <a href="/accounts/user/{{ i.id }}"><button type="button" class="btn btn-default"><li>{{ i.username }}</li></button></a>
            {% endif %}
        {% endfor %}
	</ul>
    {% endif %}
</div>
{#{{ uf }}#}
{% include 'default/footer.html' %}





