{% include 'default/header.html' %}
{% include 'default/server_idc_left.html' %}
{% load pagination_tags %}
{% autopaginate list_server_type 10 %}
<div id="content-block" class="col-sm-11 col-md-10">
    <pre>业务列表</pre>
    <div id="salt_type_list">
    {% for i in list_server_type %}
        <pre><h4> 业务：{{ i.server_type }}</h4>{% for v in i.server_user_all %} <button type="button" class="btn btn-success btn-xs">{{ v.first_name }}</button>{% endfor %}

<a href="/assets/server/type/edit/{{ i.server_type.id }}/" class="btn btn-xs btn-info">修改</a> <button type="button" class="btn btn-xs btn-danger">删除</button></pre>
    {% endfor %}
        <div  class="voilet_page">
             {% paginate %}
        </div>
    </div>
</div>
{% include 'default/footer.html' %}



