
  <div id="footer">
    <hr>
    <footer class="text-center">
      <p>© my-company.inc 2013</p>
    </footer>
  </div>



  <script type="text/javascript" src="./Xadmin_files/jquery.ui.core.js"></script>
<script type="text/javascript" src="./Xadmin_files/jquery.ui.widget.js"></script>
<script type="text/javascript" src="./Xadmin_files/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="./Xadmin_files/jquery.ui.sortable.js"></script>
<script type="text/javascript" src="./Xadmin_files/bootstrap.js"></script>
<script type="text/javascript" src="./Xadmin_files/xadmin.main.js"></script>
<script type="text/javascript" src="./Xadmin_files/xadmin.responsive.js"></script>
  <script type="text/javascript" src="./Xadmin_files/jquery.ui.effect.js"></script>
<script type="text/javascript" src="./Xadmin_files/xadmin.plugin.themes.js"></script>
<script type="text/javascript" src="./Xadmin_files/xadmin.plugin.details.js"></script>
<script type="text/javascript" src="./Xadmin_files/xadmin.plugin.bookmark.js"></script>
<script type="text/javascript" src="./Xadmin_files/xadmin.plugin.filters.js"></script>
<script type="text/javascript" src="./Xadmin_files/xadmin.page.list.js"></script>
<script type="text/javascript" src="./Xadmin_files/xadmin.page.form.js"></script>

</body></html>