<div class="panel-group hide-sm nav-sitemenu col-md-2" id="nav-accordion">
  
  <div class="panel panel-info">
    <div class="panel-heading">
      <h6 class="panel-title">
        <span class="badge badge-info">3</span>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion" href="http://192.168.49.20:8000/admin/auth/group/#nav-panel-1">
          
          <i class="icon-fixed-width icon-lock"></i>
          
          Auth
          
        </a>
      </h6>
    </div>
    <div id="nav-panel-1" class="list-group panel-collapse collapse in">
      
      <a href="./Xadmin_files/Xadmin.htm" class="list-group-item active">
        <i class="icon-fixed-width icon-group"></i>
        组
      </a>
      
      <a href="http://192.168.49.20:8000/admin/auth/user/" class="list-group-item">
        <i class="icon-fixed-width icon-user"></i>
        Users
      </a>
      
      <a href="http://192.168.49.20:8000/admin/auth/permission/" class="list-group-item">
        <i class="icon-fixed-width icon-lock"></i>
        权限
      </a>
      
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <span class="badge badge-info">1</span>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion" href="http://192.168.49.20:8000/admin/auth/group/#nav-panel-2">
          
          <i class="icon-fixed-width icon-exclamation-sign"></i>
          saltstack
          
        </a>
      </h6>
    </div>
    <div id="nav-panel-2" class="list-group panel-collapse collapse">
      
      <a href="http://192.168.49.20:8000/admin/salt_ui/accessrecord/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        自动化运维
      </a>
      
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <span class="badge badge-info">3</span>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion" href="http://192.168.49.20:8000/admin/auth/group/#nav-panel-3">
          
          <i class="icon-fixed-width icon-exclamation-sign"></i>
          报障系统
          
        </a>
      </h6>
    </div>
    <div id="nav-panel-3" class="list-group panel-collapse collapse">
      
      <a href="http://192.168.49.20:8000/admin/op/post/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        报障
      </a>
      
      <a href="http://192.168.49.20:8000/admin/op/poster_type/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        故障类型
      </a>
      
      <a href="http://192.168.49.20:8000/admin/op/poster_source/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        报障来源
      </a>
      
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <span class="badge badge-info">5</span>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion" href="http://192.168.49.20:8000/admin/auth/group/#nav-panel-4">
          
          <i class="icon-fixed-width icon-laptop"></i>
          
          资产管理
          
        </a>
      </h6>
    </div>
    <div id="nav-panel-4" class="list-group panel-collapse collapse">
      
      <a href="http://192.168.49.20:8000/admin/server_idc/host/" class="list-group-item">
        <i class="icon-fixed-width icon-laptop"></i>
        服务器
      </a>
      
      <a href="http://192.168.49.20:8000/admin/server_idc/hostgroup/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        服务器组
      </a>
      
      <a href="http://192.168.49.20:8000/admin/server_idc/maintainlog/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        维护日志
      </a>
      
      <a href="http://192.168.49.20:8000/admin/server_idc/idc/" class="list-group-item">
        <i class="icon-fixed-width icon-cloud"></i>
        IDC机房
      </a>
      
      <a href="http://192.168.49.20:8000/admin/server_idc/accessrecord/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        图表
      </a>
      
    </div>
  </div>
  
</div>



  <ul class="well nav nav-list nav-sitemenu show-sm">
    <li class="app_menu">
      <a href="http://192.168.49.20:8000/admin/"><i class="icon-fixed-width icon-home"></i></a><hr>
    </li>
    
      <li class="app_menu dropdown-submenu  active">
        <a href="http://192.168.49.20:8000/admin/auth/group/#" class="section">
          <i class="icon-lock"></i>
          
        </a><hr>
        <ul class="dropdown-menu">
          
          <li class="active">
            <a href="./Xadmin_files/Xadmin.htm">
            <i class="icon-fixed-width icon-group"></i>
            组</a>
          </li>
          
          <li>
            <a href="http://192.168.49.20:8000/admin/auth/user/">
            <i class="icon-fixed-width icon-user"></i>
            Users</a>
          </li>
          
          <li>
            <a href="http://192.168.49.20:8000/admin/auth/permission/">
            <i class="icon-fixed-width icon-lock"></i>
            权限</a>
          </li>
          
        </ul>
      </li>
    
      <li class="app_menu dropdown-submenu ">
        <a href="http://192.168.49.20:8000/admin/auth/group/#" class="section">
          <i class="icon-exclamation-sign"></i>
        </a><hr>
        <ul class="dropdown-menu">
          
          <li>
            <a href="http://192.168.49.20:8000/admin/salt_ui/accessrecord/">
            <i class="icon-fixed-width icon-exclamation-sign"></i>
            自动化运维</a>
          </li>
          
        </ul>
      </li>
    
      <li class="app_menu dropdown-submenu ">
        <a href="http://192.168.49.20:8000/admin/auth/group/#" class="section">
          <i class="icon-exclamation-sign"></i>
        </a><hr>
        <ul class="dropdown-menu">
          
          <li>
            <a href="http://192.168.49.20:8000/admin/op/post/">
            <i class="icon-fixed-width icon-exclamation-sign"></i>
            报障</a>
          </li>
          
          <li>
            <a href="http://192.168.49.20:8000/admin/op/poster_type/">
            <i class="icon-fixed-width icon-exclamation-sign"></i>
            故障类型</a>
          </li>
          
          <li>
            <a href="http://192.168.49.20:8000/admin/op/poster_source/">
            <i class="icon-fixed-width icon-exclamation-sign"></i>
            报障来源</a>
          </li>
          
        </ul>
      </li>
    
      <li class="app_menu dropdown-submenu ">
        <a href="http://192.168.49.20:8000/admin/auth/group/#" class="section">
          <i class="icon-laptop"></i>
          
        </a><hr>
        <ul class="dropdown-menu">
          
          <li>
            <a href="http://192.168.49.20:8000/admin/server_idc/host/">
            <i class="icon-fixed-width icon-laptop"></i>
            服务器</a>
          </li>
          
          <li>
            <a href="http://192.168.49.20:8000/admin/server_idc/hostgroup/">
            <i class="icon-fixed-width icon-exclamation-sign"></i>
            服务器组</a>
          </li>
          
          <li>
            <a href="http://192.168.49.20:8000/admin/server_idc/maintainlog/">
            <i class="icon-fixed-width icon-exclamation-sign"></i>
            维护日志</a>
          </li>
          
          <li>
            <a href="http://192.168.49.20:8000/admin/server_idc/idc/">
            <i class="icon-fixed-width icon-cloud"></i>
            IDC机房</a>
          </li>
          
          <li>
            <a href="http://192.168.49.20:8000/admin/server_idc/accessrecord/">
            <i class="icon-fixed-width icon-exclamation-sign"></i>
            图表</a>
          </li>
          
        </ul>
      </li>
    
    
  </ul>


        
      
    </div>